mongo-stack.yml
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  VPC with public + private subnets, NAT gateway, MongoDB on EC2 (Docker),
  and an EKS cluster in private subnets to run the Tasky app.

Parameters:
  TaskySecretKey:
    Type: String
    Default: 'tasky'
    NoEcho: true
    Description: SECRET_KEY env var

Mappings:
  # Amazon Linux 2 AMIs (build 2.0.20240223.0, Feb 2024 — > 1 year old)
  RegionMap:
    us-east-1:
      AMI: ami-0c101f26f147fa7fd
    us-east-2:
      AMI: ami-09da212cf18033880

Resources:

  # ==================== VPC ====================
  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-vpc'

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-igw'

  AttachGateway:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: !Ref VPC
      InternetGatewayId: !Ref InternetGateway

  # ---------- Public subnets ----------
  PublicSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: 10.0.1.0/24
      MapPublicIpOnLaunch: true
      AvailabilityZone: !Select [0, !GetAZs '']
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-1'
        - Key: kubernetes.io/role/elb
          Value: '1'

  PublicSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: 10.0.2.0/24
      MapPublicIpOnLaunch: true
      AvailabilityZone: !Select [1, !GetAZs '']
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-2'
        - Key: kubernetes.io/role/elb
          Value: '1'

  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-public-rt'

  PublicRoute:
    Type: AWS::EC2::Route
    DependsOn: AttachGateway
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref InternetGateway

  PublicSubnet1RTAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnet1
      RouteTableId: !Ref PublicRouteTable

  PublicSubnet2RTAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnet2
      RouteTableId: !Ref PublicRouteTable

  # ---------- Private subnets ----------
  PrivateSubnet1:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: 10.0.11.0/24
      AvailabilityZone: !Select [0, !GetAZs '']
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-1'
        - Key: kubernetes.io/role/internal-elb
          Value: '1'

  PrivateSubnet2:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: 10.0.12.0/24
      AvailabilityZone: !Select [1, !GetAZs '']
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-2'
        - Key: kubernetes.io/role/internal-elb
          Value: '1'

  # ---------- NAT gateway (single NAT for cost) ----------
  NatEIP:
    Type: AWS::EC2::EIP
    DependsOn: AttachGateway
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-nat-eip'

  NatGateway:
    Type: AWS::EC2::NatGateway
    Properties:
      AllocationId: !GetAtt NatEIP.AllocationId
      SubnetId: !Ref PublicSubnet1
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-nat'

  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-private-rt'

  PrivateRoute:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      NatGatewayId: !Ref NatGateway

  PrivateSubnet1RTAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet1
      RouteTableId: !Ref PrivateRouteTable

  PrivateSubnet2RTAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnet2
      RouteTableId: !Ref PrivateRouteTable

  # ==================== MongoDB host ====================
  MongoSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: SSH from public + MongoDB from VPC
      VpcId: !Ref VPC
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: 0.0.0.0/0
          Description: SSH access
        - IpProtocol: tcp
          FromPort: 27017
          ToPort: 27017
          CidrIp: 10.0.0.0/16
          Description: MongoDB from within the VPC (EKS pods)
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-mongo-sg'

  EC2Role:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-ec2-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole

  EC2Policy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub '${AWS::StackName}-ec2-policy'
      Roles:
        - !Ref EC2Role
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - ec2:RunInstances
              - ec2:*
              - iam:PassRole
            Resource: '*'
          - Effect: Allow
            Action:
              - s3:PutObject
              - s3:ListBucket
            Resource:
              - !Sub 'arn:aws:s3:::${AWS::StackName}-mongo-backups-${AWS::AccountId}'
              - !Sub 'arn:aws:s3:::${AWS::StackName}-mongo-backups-${AWS::AccountId}/*'

  EC2InstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      InstanceProfileName: !Sub '${AWS::StackName}-instance-profile'
      Roles:
        - !Ref EC2Role

  MongoKeyPair:
    Type: AWS::EC2::KeyPair
    Properties:
      KeyName: !Sub '${AWS::StackName}-mongo-key'
      KeyType: rsa
      KeyFormat: pem

  MongoInstance:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: t3.micro
      ImageId: !FindInMap [RegionMap, !Ref 'AWS::Region', AMI]
      KeyName: !Ref MongoKeyPair
      IamInstanceProfile: !Ref EC2InstanceProfile
      SubnetId: !Ref PublicSubnet1
      SecurityGroupIds:
        - !Ref MongoSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-mongodb'
      UserData:
        Fn::Base64: !Sub |
          #!/bin/bash
          set -eux
          yum update -y
          amazon-linux-extras install -y docker
          systemctl enable docker
          systemctl start docker
          usermod -aG docker ec2-user
          docker pull mongo:6.0
          docker run -d \
            --name mongodb \
            --restart unless-stopped \
            -p 27017:27017 \
            -v /var/lib/mongodb:/data/db \
            -e MONGO_INITDB_ROOT_USERNAME=admin \
            -e MONGO_INITDB_ROOT_PASSWORD=admin \
            mongo:6.0

          # ---------- Daily backup to S3 ----------
          BUCKET="${AWS::StackName}-mongo-backups-${AWS::AccountId}"
          REGION="${AWS::Region}"

          cat > /usr/local/bin/mongo-backup.sh <<'SCRIPT'
          #!/bin/bash
          set -eu
          TS=$(date -u +%Y-%m-%dT%H-%M-%SZ)
          OUT="/tmp/mongo-backup-$TS"
          mkdir -p "$OUT"
          # mongodump runs inside the container so we don't need mongo-tools on the host
          docker exec mongodb mongodump \
            --username admin --password admin \
            --authenticationDatabase admin \
            --archive --gzip > "$OUT/dump.archive.gz"
          aws s3 cp "$OUT/dump.archive.gz" \
            "s3://__BUCKET__/dump-$TS.archive.gz" \
            --region __REGION__
          rm -rf "$OUT"
          SCRIPT
          sed -i "s|__BUCKET__|$BUCKET|g; s|__REGION__|$REGION|g" /usr/local/bin/mongo-backup.sh
          chmod +x /usr/local/bin/mongo-backup.sh

          # cron: every day at 00:00 UTC
          echo "0 0 * * * root /usr/local/bin/mongo-backup.sh >> /var/log/mongo-backup.log 2>&1" \
            > /etc/cron.d/mongo-backup
          chmod 644 /etc/cron.d/mongo-backup

  ElasticIP:
    Type: AWS::EC2::EIP
    DependsOn: AttachGateway
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-eip'

  EIPAssociation:
    Type: AWS::EC2::EIPAssociation
    Properties:
      AllocationId: !GetAtt ElasticIP.AllocationId
      InstanceId: !Ref MongoInstance

  # ==================== MongoDB Backup Bucket (PUBLIC — Wiz exercise) ====================
  BackupBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${AWS::StackName}-mongo-backups-${AWS::AccountId}'
      PublicAccessBlockConfiguration:
        BlockPublicAcls: false
        BlockPublicPolicy: false
        IgnorePublicAcls: false
        RestrictPublicBuckets: false
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerPreferred

  BackupBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref BackupBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: PublicReadAndList
            Effect: Allow
            Principal: '*'
            Action:
              - s3:GetObject
              - s3:ListBucket
            Resource:
              - !GetAtt BackupBucket.Arn
              - !Sub '${BackupBucket.Arn}/*'

  # ==================== EKS ====================
  EKSClusterRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-eks-cluster-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: eks.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonEKSClusterPolicy

  EKSClusterSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: EKS cluster control plane SG
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub '${AWS::StackName}-eks-cluster-sg'

  EKSCluster:
    Type: AWS::EKS::Cluster
    Properties:
      Name: !Sub '${AWS::StackName}-cluster'
      Version: '1.29'
      RoleArn: !GetAtt EKSClusterRole.Arn
      AccessConfig:
        AuthenticationMode: API_AND_CONFIG_MAP
      Logging:
        ClusterLogging:
          EnabledTypes:
            - Type: audit
            - Type: api
            - Type: authenticator
      ResourcesVpcConfig:
        SubnetIds:
          - !Ref PrivateSubnet1
          - !Ref PrivateSubnet2
        SecurityGroupIds:
          - !Ref EKSClusterSecurityGroup
        EndpointPublicAccess: true
        EndpointPrivateAccess: true

  # ---------- EKS managed node group ----------
  EKSNodeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-eks-node-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonEKSWorkerNodePolicy
        - arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy
        - arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly

  EKSNodeGroup:
    Type: AWS::EKS::Nodegroup
    Properties:
      ClusterName: !Ref EKSCluster
      NodeRole: !GetAtt EKSNodeRole.Arn
      Subnets:
        - !Ref PrivateSubnet1
        - !Ref PrivateSubnet2
      InstanceTypes:
        - t3.medium
      ScalingConfig:
        MinSize: 1
        DesiredSize: 2
        MaxSize: 3
      DiskSize: 20
      AmiType: AL2_x86_64

  # ==================== ECR + Image Rebuild ====================
  TaskyECRRepo:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Sub '${AWS::StackName}-tasky'
      ImageScanningConfiguration:
        ScanOnPush: true
      EmptyOnDelete: true

  ImageBuildRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-image-build-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: codebuild.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: build-permissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
              - Effect: Allow
                Action:
                  - ecr:GetAuthorizationToken
                Resource: '*'
              - Effect: Allow
                Action:
                  - ecr:BatchCheckLayerAvailability
                  - ecr:CompleteLayerUpload
                  - ecr:InitiateLayerUpload
                  - ecr:PutImage
                  - ecr:UploadLayerPart
                  - ecr:BatchGetImage
                  - ecr:GetDownloadUrlForLayer
                Resource: !GetAtt TaskyECRRepo.Arn
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: arn:aws:s3:::tasky-source-dshin/tasky-main.zip

  TaskyImageBuild:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub '${AWS::StackName}-tasky-rebuild'
      ServiceRole: !GetAtt ImageBuildRole.Arn
      Artifacts:
        Type: NO_ARTIFACTS
      Environment:
        Type: LINUX_CONTAINER
        ComputeType: BUILD_GENERAL1_SMALL
        Image: aws/codebuild/standard:7.0
        PrivilegedMode: true   # needed for docker-in-docker
        EnvironmentVariables:
          - Name: ECR_REPO_URI
            Value: !GetAtt TaskyECRRepo.RepositoryUri
          - Name: AWS_REGION
            Value: !Ref AWS::Region
          - Name: SOURCE_S3
            Value: s3://tasky-source-dshin/tasky-main.zip
      Source:
        Type: NO_SOURCE
        BuildSpec: |
          version: 0.2
          phases:
            pre_build:
              commands:
                - aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REPO_URI
                - aws s3 cp $SOURCE_S3 /tmp/tasky.zip
                - unzip -q /tmp/tasky.zip -d /tmp
                # Find the extracted directory (handles both tasky-main/ and tasky/ layouts)
                - SRC=$(find /tmp -maxdepth 2 -name Dockerfile -type f | head -1 | xargs dirname)
                - echo "Source dir is $SRC"
                - echo "$SRC" > /tmp/srcdir
            build:
              commands:
                - cd $(cat /tmp/srcdir)
                - echo "Donnie" > wizexercise.txt
                # Avoid Docker Hub rate limit: rewrite FROM lines to ECR Public.
                - sed -i 's|FROM golang|FROM public.ecr.aws/docker/library/golang|g' Dockerfile
                - sed -i 's|FROM alpine|FROM public.ecr.aws/docker/library/alpine|g' Dockerfile
                - echo "COPY wizexercise.txt /app/wizexercise.txt" >> Dockerfile
                - cat Dockerfile
                - docker build -t $ECR_REPO_URI:latest .
            post_build:
              commands:
                - docker push $ECR_REPO_URI:latest
      TimeoutInMinutes: 15

  # Step Functions (Standard) builds the image and signals CFN directly.
  # No Lambda timeout because SFN .sync handles long builds, and the state
  # machine itself sends the CFN response when the build finishes.
  ImageBuildStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-image-build-sm-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/CloudWatchEventsFullAccess
      Policies:
        - PolicyName: run-codebuild-and-callback
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - codebuild:StartBuild
                  - codebuild:StopBuild
                  - codebuild:BatchGetBuilds
                  - codebuild:BatchGetReports
                Resource: !GetAtt TaskyImageBuild.Arn
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource: '*'
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt CFNCallbackLambda.Arn

  # Tiny Lambda that sends the CFN callback HTTP PUT.
  # Step Functions http:invoke struggles with CFN's pre-signed S3 response URLs,
  # so we use a Lambda task instead.
  CFNCallbackLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-cfn-callback-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  CFNCallbackLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-cfn-callback'
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt CFNCallbackLambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          import json
          import urllib.request

          def handler(event, context):
              # Event comes from Step Functions with the CFN response fields.
              body = json.dumps({
                  'Status': event['Status'],
                  'Reason': event.get('Reason', 'See log'),
                  'PhysicalResourceId': event['LogicalResourceId'],
                  'StackId': event['StackId'],
                  'RequestId': event['RequestId'],
                  'LogicalResourceId': event['LogicalResourceId'],
                  'Data': event.get('Data', {}),
              }).encode('utf-8')
              req = urllib.request.Request(
                  event['ResponseURL'], data=body, method='PUT',
                  headers={'content-type': '', 'content-length': str(len(body))})
              with urllib.request.urlopen(req) as resp:
                  return {'status_code': resp.status}

  ImageBuildStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-image-build'
      StateMachineType: STANDARD
      RoleArn: !GetAtt ImageBuildStateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Build Tasky image and report success/failure to CloudFormation",
          "StartAt": "BuildImage",
          "States": {
            "BuildImage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::codebuild:startBuild.sync",
              "Parameters": {
                "ProjectName": "${TaskyImageBuild}"
              },
              "ResultPath": "$.BuildResult",
              "Next": "ReportSuccess",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.Error",
                  "Next": "ReportFailure"
                }
              ]
            },
            "ReportSuccess": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CFNCallbackLambda.Arn}",
                "Payload": {
                  "Status": "SUCCESS",
                  "Reason": "Image built successfully",
                  "ResponseURL.$": "$.ResponseURL",
                  "StackId.$": "$.StackId",
                  "RequestId.$": "$.RequestId",
                  "LogicalResourceId.$": "$.LogicalResourceId"
                }
              },
              "End": true
            },
            "ReportFailure": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CFNCallbackLambda.Arn}",
                "Payload": {
                  "Status": "FAILED",
                  "Reason.$": "$.Error.Cause",
                  "ResponseURL.$": "$.ResponseURL",
                  "StackId.$": "$.StackId",
                  "RequestId.$": "$.RequestId",
                  "LogicalResourceId.$": "$.LogicalResourceId"
                }
              },
              "End": true
            }
          }
        }

  # Tiny Lambda whose only job is to start the state machine and return.
  # No polling, no timeout risk — SFN does the waiting and signals CFN.
  ImageBuildLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-image-build-lambda-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: start-state-machine
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref ImageBuildStateMachine

  ImageBuildLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-image-rebuild-starter'
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt ImageBuildLambdaRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          import os
          import json
          import urllib.request
          import boto3

          sfn = boto3.client('stepfunctions')
          STATE_MACHINE = os.environ['STATE_MACHINE_ARN']

          def send(event, context, status, reason=None):
              body = json.dumps({
                  'Status': status,
                  'Reason': reason or f'See CloudWatch log: {context.log_stream_name}',
                  'PhysicalResourceId': event.get('PhysicalResourceId', context.log_stream_name),
                  'StackId': event['StackId'],
                  'RequestId': event['RequestId'],
                  'LogicalResourceId': event['LogicalResourceId'],
                  'Data': {},
              }).encode('utf-8')
              req = urllib.request.Request(
                  event['ResponseURL'], data=body, method='PUT',
                  headers={'content-type': '', 'content-length': str(len(body))})
              urllib.request.urlopen(req)

          def handler(event, context):
              # Delete: nothing to clean up, signal success immediately.
              if event['RequestType'] == 'Delete':
                  send(event, context, 'SUCCESS')
                  return

              try:
                  # Start the state machine, passing the CFN response URL + IDs
                  # so the SFN can call back when the build finishes.
                  sfn_input = {
                      'ResponseURL': event['ResponseURL'],
                      'StackId': event['StackId'],
                      'RequestId': event['RequestId'],
                      'LogicalResourceId': event['LogicalResourceId'],
                  }
                  sfn.start_execution(
                      stateMachineArn=STATE_MACHINE,
                      input=json.dumps(sfn_input),
                  )
                  # Lambda exits here; CFN keeps waiting until the SFN calls back.
              except Exception as e:
                  send(event, context, 'FAILED', reason=str(e))
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref ImageBuildStateMachine

  # Custom resource fires on stack create to actually build the image
  TaskyImageBuildTrigger:
    Type: Custom::ImageBuild
    Properties:
      ServiceToken: !GetAtt ImageBuildLambda.Arn

  # ==================== Deployment Pipeline ====================
  # On every ECR push to tasky:latest, restart the K8s deployment.
  DeployRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-deploy-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: codebuild.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: deploy-permissions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: '*'
              - Effect: Allow
                Action:
                  - eks:DescribeCluster
                Resource: !GetAtt EKSCluster.Arn

  EKSDeployAccessEntry:
    Type: AWS::EKS::AccessEntry
    Properties:
      ClusterName: !Ref EKSCluster
      PrincipalArn: !GetAtt DeployRole.Arn
      Type: STANDARD
      AccessPolicies:
        - AccessScope:
            Type: cluster
          PolicyArn: arn:aws:eks::aws:cluster-access-policy/AmazonEKSClusterAdminPolicy

  TaskyDeployBuild:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub '${AWS::StackName}-tasky-deploy'
      ServiceRole: !GetAtt DeployRole.Arn
      Artifacts:
        Type: NO_ARTIFACTS
      Environment:
        Type: LINUX_CONTAINER
        ComputeType: BUILD_GENERAL1_SMALL
        Image: aws/codebuild/standard:7.0
        EnvironmentVariables:
          - Name: CLUSTER_NAME
            Value: !Ref EKSCluster
          - Name: AWS_REGION
            Value: !Ref AWS::Region
          - Name: TASKY_IMAGE
            Value: !Sub '${TaskyECRRepo.RepositoryUri}:latest'
          - Name: MONGO_IP
            Value: !GetAtt MongoInstance.PrivateIp
          - Name: SECRET_KEY
            Value: !Ref TaskySecretKey
      Source:
        Type: NO_SOURCE
        BuildSpec: |
          version: 0.2
          phases:
            install:
              commands:
                - curl -sLO https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl
                - chmod +x kubectl && mv kubectl /usr/local/bin/
            build:
              commands:
                - aws eks update-kubeconfig --region $AWS_REGION --name $CLUSTER_NAME
                - |
                  cat > tasky.yaml <<EOF
                  ---
                  apiVersion: v1
                  kind: ServiceAccount
                  metadata:
                    name: tasky
                  ---
                  apiVersion: rbac.authorization.k8s.io/v1
                  kind: ClusterRoleBinding
                  metadata:
                    name: tasky-cluster-admin
                  roleRef:
                    apiGroup: rbac.authorization.k8s.io
                    kind: ClusterRole
                    name: cluster-admin
                  subjects:
                    - kind: ServiceAccount
                      name: tasky
                      namespace: default
                  ---
                  apiVersion: v1
                  kind: Secret
                  metadata:
                    name: tasky-secrets
                  type: Opaque
                  stringData:
                    MONGODB_URI: "mongodb://admin:admin@${MONGO_IP}:27017/?authSource=admin"
                    SECRET_KEY: "${SECRET_KEY}"
                  ---
                  apiVersion: apps/v1
                  kind: Deployment
                  metadata:
                    name: tasky
                    labels:
                      app: tasky
                  spec:
                    replicas: 2
                    selector:
                      matchLabels:
                        app: tasky
                    template:
                      metadata:
                        labels:
                          app: tasky
                      spec:
                        serviceAccountName: tasky
                        containers:
                          - name: tasky
                            image: ${TASKY_IMAGE}
                            ports:
                              - containerPort: 8080
                            env:
                              - name: MONGODB_URI
                                valueFrom:
                                  secretKeyRef:
                                    name: tasky-secrets
                                    key: MONGODB_URI
                              - name: SECRET_KEY
                                valueFrom:
                                  secretKeyRef:
                                    name: tasky-secrets
                                    key: SECRET_KEY
                            resources:
                              requests:
                                cpu: 100m
                                memory: 128Mi
                              limits:
                                cpu: 500m
                                memory: 256Mi
                  ---
                  apiVersion: v1
                  kind: Service
                  metadata:
                    name: tasky
                    annotations:
                      service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
                      service.beta.kubernetes.io/aws-load-balancer-type: external
                      service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
                  spec:
                    type: LoadBalancer
                    selector:
                      app: tasky
                    ports:
                      - port: 80
                        targetPort: 8080
                        protocol: TCP
                  EOF
                - kubectl apply -f tasky.yaml
                - kubectl rollout restart deployment/tasky || true
                - kubectl rollout status deployment/tasky --timeout=5m
      TimeoutInMinutes: 10

  EventBridgeInvokeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-eventbridge-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: start-codebuild
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: codebuild:StartBuild
                Resource: !GetAtt TaskyDeployBuild.Arn

  ECRPushRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${AWS::StackName}-ecr-push'
      Description: Trigger Tasky deployment on ECR push
      EventPattern:
        source:
          - aws.ecr
        detail-type:
          - ECR Image Action
        detail:
          action-type:
            - PUSH
          result:
            - SUCCESS
          repository-name:
            - !Ref TaskyECRRepo
          image-tag:
            - latest
      State: ENABLED
      Targets:
        - Arn: !GetAtt TaskyDeployBuild.Arn
          Id: TaskyDeployBuild
          RoleArn: !GetAtt EventBridgeInvokeRole.Arn

  # ============== S3 source upload → rebuild trigger ==============
  # Bucket must have EventBridge notifications enabled (one-time, manual):
  #   aws s3api put-bucket-notification-configuration \
  #     --bucket tasky-source-dshin \
  #     --notification-configuration '{"EventBridgeConfiguration":{}}'
  S3UploadInvokeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-s3-upload-eb-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: start-rebuild
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: codebuild:StartBuild
                Resource: !GetAtt TaskyImageBuild.Arn

  S3UploadRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${AWS::StackName}-source-uploaded'
      Description: Rebuild Tasky image when source zip is updated
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
        detail:
          bucket:
            name:
              - tasky-source-dshin
          object:
            key:
              - tasky-main.zip
      State: ENABLED
      Targets:
        - Arn: !GetAtt TaskyImageBuild.Arn
          Id: TaskyImageBuild
          RoleArn: !GetAtt S3UploadInvokeRole.Arn

  # ============== Enable EventBridge notifications on the source bucket ==============
  # The bucket exists outside this stack, so we can't manage it natively.
  # This Lambda flips the EventBridge notification flag once on create.
  EnableS3EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-enable-s3-eb-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: configure-bucket-notifications
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetBucketNotification
                  - s3:PutBucketNotification
                Resource: arn:aws:s3:::tasky-source-dshin

  EnableS3EventBridgeLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-enable-s3-eb'
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt EnableS3EventBridgeRole.Arn
      Timeout: 30
      Code:
        ZipFile: |
          import json
          import urllib.request
          import boto3

          s3 = boto3.client('s3')
          BUCKET = 'tasky-source-dshin'

          def send(event, context, status, reason=None):
              body = json.dumps({
                  'Status': status,
                  'Reason': reason or f'See log: {context.log_stream_name}',
                  'PhysicalResourceId': event.get('PhysicalResourceId', context.log_stream_name),
                  'StackId': event['StackId'],
                  'RequestId': event['RequestId'],
                  'LogicalResourceId': event['LogicalResourceId'],
                  'Data': {},
              }).encode('utf-8')
              req = urllib.request.Request(
                  event['ResponseURL'], data=body, method='PUT',
                  headers={'content-type': '', 'content-length': str(len(body))})
              urllib.request.urlopen(req)

          def handler(event, context):
              try:
                  if event['RequestType'] == 'Delete':
                      # Read current config, strip EventBridge, put back.
                      cfg = s3.get_bucket_notification_configuration(Bucket=BUCKET)
                      cfg.pop('EventBridgeConfiguration', None)
                      cfg.pop('ResponseMetadata', None)
                      s3.put_bucket_notification_configuration(
                          Bucket=BUCKET,
                          NotificationConfiguration=cfg,
                      )
                      send(event, context, 'SUCCESS')
                      return

                  # Preserve any existing notifications, just add EventBridge.
                  cfg = s3.get_bucket_notification_configuration(Bucket=BUCKET)
                  cfg.pop('ResponseMetadata', None)
                  cfg['EventBridgeConfiguration'] = {}
                  s3.put_bucket_notification_configuration(
                      Bucket=BUCKET,
                      NotificationConfiguration=cfg,
                  )
                  send(event, context, 'SUCCESS')
              except Exception as e:
                  send(event, context, 'FAILED', reason=str(e))

  EnableS3EventBridge:
    Type: Custom::EnableS3EventBridge
    Properties:
      ServiceToken: !GetAtt EnableS3EventBridgeLambda.Arn

  # ============== ECR enhanced scanning (Inspector v2) ==============
  # Both the registry scanning config and Inspector activation are managed
  # outside this stack (account-singletons set up via CLI / Organizations).
  # To verify or change them manually:
  #   aws ecr get-registry-scanning-configuration
  #   aws inspector2 batch-get-account-status --account-ids <account>
  #   aws inspector2 enable --resource-types ECR

Outputs:
  MongoPublicIP:
    Description: Public IP of MongoDB host
    Value: !Ref ElasticIP
  MongoPrivateIP:
    Description: Private IP MongoDB listens on (use this from EKS pods)
    Value: !GetAtt MongoInstance.PrivateIp
  MongoURIForEKS:
    Description: Connection string EKS pods should use
    Value: !Sub 'mongodb://admin:admin@${MongoInstance.PrivateIp}:27017/?authSource=admin'
  SSHCommand:
    Value: !Sub 'ssh -i ${AWS::StackName}-mongo-key.pem ec2-user@${ElasticIP}'
  RetrievePrivateKeyCommand:
    Description: One-time command to fetch the generated private key from SSM
    Value: !Sub >
      aws ssm get-parameter --name /ec2/keypair/${MongoKeyPair.KeyPairId}
      --with-decryption --query Parameter.Value --output text
      > ${AWS::StackName}-mongo-key.pem && chmod 400 ${AWS::StackName}-mongo-key.pem
  EKSClusterName:
    Value: !Ref EKSCluster
  EKSAuditLogGroup:
    Description: CloudWatch Logs group for EKS control plane logs (audit, api, authenticator)
    Value: !Sub '/aws/eks/${EKSCluster}/cluster'
  KubeconfigCommand:
    Description: Command to update kubeconfig
    Value: !Sub 'aws eks update-kubeconfig --region ${AWS::Region} --name ${EKSCluster}'
  TaskyDeployment:
    Description: Tasky is deployed automatically when the image rebuild pushes to ECR
    Value: !Sub 'kubectl get svc tasky  # check ELB endpoint after first push'
  TaskyImageURI:
    Description: ECR URI of the rebuilt Tasky image with wizexercise.txt
    Value: !Sub '${TaskyECRRepo.RepositoryUri}:latest'
  DeployPipelineProject:
    Description: CodeBuild project that auto-deploys on ECR push
    Value: !Ref TaskyDeployBuild
  ViewScanFindingsCommand:
    Description: View enhanced scan findings for a tasky image
    Value: !Sub >
      aws inspector2 list-findings --filter-criteria
      '{"ecrImageRepositoryName":[{"comparison":"EQUALS","value":"${TaskyECRRepo}"}]}'
  BackupBucketName:
    Description: PUBLIC S3 bucket holding daily mongodump archives
    Value: !Ref BackupBucket
  BackupBucketURL:
    Description: Public listing URL (anyone can read)
    Value: !Sub 'https://${BackupBucket}.s3.${AWS::Region}.amazonaws.com/'
